<section class='px-[2%] py-[60px] flex justify-center'>
  <div class='shadow-md p-10 bg-slate-50 w-full flex justify-center'>
    <div>
      <h2><%= I18n.t('activerecord.models.category.other') %></h2>
      <% if @categories.any? %>
        <div class="categories-wrapper">
          <% @categories.each do |category| %>
            <div class="category ">
                <%= link_to category.name, category, class:'block py-2 font-semibold underline' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div>Não há categorias cadastradas</div>
      <% end %>
      <br />
      <div>
        <%= link_to 'Criar Categoria', new_category_path, class:'btn-second' %>
      </div>
    </div>
  </div>
</section>
